.header{
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 5px;
}


.btn{
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;


}
.btn:hover{
    background-color: black;
    color: white;

    
}
.btn:active{
    background-color: grey;
    color: white;

}
.nav{
    display: flex;
    gap: 100px;

}

.nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}
.nav a:hover{
    color: white;


}
.nav a:active{
    color: grey;


}


