* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-image: url(https://images.unsplash.com/photo-1586202690180-1967f682ef1a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fHRvJTIwZG98ZW58MHx8MHx8fDA%3D);
  background-size: cover;
  background-position: center;

}

.container{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.button{
    border-radius: 20%;
    margin: 20px;
  background: #6a11cb;
  color: white;
  border: burlywood;
  transition: background 0.3s ease;
}

.button:hover{
  background: linear-gradient(90deg, #6a11cb, #2575fc, #00c9ff);

}
.myinput{
    
    width: 30%;
    width: 30%;
    border-radius: 0px;
    border-color: #6a11cb;
}